/*-----------------------------
    """ Media Queary """
------------------------------*/

    /* Mobile or small Device */
    @media only screen and (max-width: 688px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .container{
        width:80%;
    }
    /*-----------------------------
        """ Header Styles """
    ------------------------------*/
    #header{
        margin-top: 35px;
    }
    .header-wrapper{
        width: 162px;
        display: flex;
        justify-content: center;
        align-items: none;
    }

    .header-title h1{
        font-size: 16px;
        align-items: center;
        line-height: 24px;
    }

    /* Nav Styles */
    nav{
        display: none;
    }
    /*-----------------------------
        """ Section - 1 Styles """
    ------------------------------*/
    .section-1{
        width: 80%;
        flex-direction: column;
        margin-top: 22px;
    }
    .section-1-wrapper{
        width: 100%;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-1-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .section-title{
        width: 400px;
        height: 78px;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 15px;
    }
    .section-description{
        width: 321px;
        height: 65px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 20px;
    }
    .br-inline{
        display: none;
    }
    .section-1-right img{
        width: 257px;
        height: 257px;
        margin-bottom: 14px;
    }

    /* Section - 2 */
    .section-2{
        display: none;
        flex-direction: column;
        margin: 50px 0px;
    }
    .section-2-wrapper{
        width: 100%;
    }
    .section-2-items img{
        width: 65px;
    }




    /*-----------------------------
        """ Section - 3 Styles """
    ------------------------------*/
    .section-3{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .section-3-wrapper{
        width: 329px;
    }
    .section-3-title > h2 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .section-3-products{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px 0;
        margin-bottom: 32px;
    }

    /*-----------------------------
        """ Section - 4 Styles """
    ------------------------------*/
    .section-4{
        margin-top: 50px;
    }
    .section-4-wrapper{
        width: 100%;
    }
    .counter{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 30px 10px;
    }
    .counter-item{
        text-align: center;
        margin-bottom: 25px;
    }
    /*-----------------------------
        """ Footer Styles """
    ------------------------------*/
    .footer{
        margin-top: 50px;
    }

    .footer-title{
        font-size: 16px;
        line-height: 24px;
    }
    .footer-description{
        font-size: 12px;
    }
    /* Social Icons */
    .social-icon{
        display: flex;
    }
    .fa-instagram, .fa-facebook, .fa-twitter, .fa-youtube{
        font-size: 15px;
    }
}
/* Media End */